{% extends 'base.html' %}
{% block body %}
<div class="container" >
<div class="row" >
    <div class="col-xs-2 col-md-2"> 
    <h2>用户管理</h2>
      <div class="btn-group-vertical" role="group" aria-label="...">
        <a href="{{ url_for('admin.users') }}" type="button" class="btn btn-default">编辑用户信息</a>
        <a href="{{ url_for('admin.adduser') }}" type="button" class="btn btn-default">添加求职者</a>
        <a href="{{ url_for('admin.addcompany') }}" type="button" class="btn btn-default">添加企业</a>
      </div>
    <h2>职位管理</h2>
        <a href="{{ url_for('admin.jobs') }}" type="button" class="btn btn-default">职位上下线</a>
    </div>
    <div class="col-xs-10 col-md-10"> 
    {% block users %}

    {% endblock %}         
    </div>
</div>
</div>
{% endblock %}
