<!DOCTYPE html>
<html>
<head>
<title>七天招聘网</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="signin.css" rel="stylesheet">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="{{ url_for('front.index') }}">主页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('job.index') }}">职位</a></li>
        <li><a href="{{ url_for('company.index') }}">公司</a></li>
        {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a>{{ current_user.look_datetime() }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心<span class="caret"></span></a>

          <ul class="dropdown-menu">
           
        {% if current_user.role == 30 %}
            <li><a href="#">个人信息</a></li>
            <li><a href="{{ url_for('admin.index') }}">管理员界面</a></li>
   
        {% elif current_user.role == 20 %}
            <li><a href="{{ url_for('admin.emessage') }}">企业信息编辑</a></li>
            <li><a href="{{ url_for('job.euseradmin') }}">企业管理页面</a></li>
        {% elif current_user.role == 10 %}
            <li><a href="{{ url_for('admin.message') }}">求职者信息编辑</a></li>
            <li><a href="{{ url_for('job.userjobs') }}">简历信息</a></li>
        {% endif %}
            <li><a href="{{ url_for('front.logout') }}">退出登录</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ url_for('front.eregister') }}">公司注册</a></li>
        <li><a href="{{ url_for('front.register') }}">求职者注册</a></li>
        <li><a href="{{ url_for('front.login') }}">登录</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container'>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
        <div class='alert alert-success' style="text-align: center">
        <button type='button' class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong></div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="page-header">
  <font size='8' style="text-align: center"><p>{% block indextitle %}{% endblock %}</p></font>

</div>

{% block body %}


<div class="jumbotron">
  <h3>职位</h3>
  {% block zhiwei %}

  {% endblock %}
</div>
<div class="jumbotron">
  <h3>公司</h3>
  {% block gongsi %}

  {% endblock %}
</div>
{% endblock %}

</body>
</html>
